html {
    height: 100%;
    width: 100%;
    color: white;
    text-shadow: black 0 0 1rem;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    line-height: 2;
    background-image: url("../images/bloom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#rainBG {
    z-index: -1;
    position: absolute;
}

#gridContainer {
    height: 100vh;
    min-height: 100%;
    display: grid;
    grid-template-areas:
        "top"
        "middle"
        "bottom";
    grid-template-columns: auto;
    grid-template-rows: 5rem 80vh auto;
    row-gap: 1rem;
}

h1 {
    display: inline-block;
    font-size: 150%;
}

.topBar {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: top;
    background: rgba(0, 255, 255, 0);
    padding: 1rem;
}

#shortcuts {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: .2rem;
    grid-area: top;
    overflow: hidden;
    white-space: nowrap;
    width: 7rem;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

#quick {
    background: rgba(0, 255, 255, .1);
    padding: 1rem;
    border-radius: 1rem;
}

#shortcuts:hover {
    width: 20rem;
}

#shortcuts .button {
    padding-left: 1rem;
}

.button {
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 1;
}

#shortcuts .button:hover {
    color: rgba(0, 200, 200, 1) !important;
}

.leftbtn {
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 40%;
    left: 0%;
    z-index: 2;

    /* Alignment Check */
    /* border-bottom: solid black 2px;
    width: 1000vw; */
}

#leftbtn {
    margin: .5rem 0 0 -1rem;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.rightbtn {
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 40%;
    right: 0%;
    z-index: 2;

    /* Alignment Check */
    /* border-bottom: solid white 2px; */
}

#rightbtn {
    margin: .5rem -1rem 0 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.leftSlide {
    position: relative;
    left: 0%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

}

.rightSlide {
    position: relative;
    right: 0%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}


.arrow {
    font-size: 500%;
    font-stretch: ultra-condensed;
}

.main {
    position: relative;
    grid-area: middle;
    justify-self: center;
    background: rgba(0, 100, 100, .8);
    margin: auto;
    width: 50vw;
    padding: 2rem;
    border-radius: 1rem;
}

.pos0 {
    left: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.pos1 {
    left: 100%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.pos2 {
    left: 100%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.reset {
    top: -100%;
}

/* --------------- ABOUT -------------*/
#profile {
    display: block;
    max-width: 15rem;
    max-height: 15rem;
    float: left;
    margin: 0 1rem 0.5rem 0;
    box-shadow: .2rem .2rem .1rem gray
}

#statBars{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
}

#statBars span{
    padding: none;
    margin: none;
    line-height: 0;
    height: 1rem;
}
/* --------------- CONTACT -------------*/
input[type=submit]{
    background: #4aaaa5;
    color: white;
    width: 5rem;
    padding: auto 0;
    text-align: center;
    border: solid 1px;
    border-color:#4aaaa5;
    text-decoration: none;
    height: 3rem;
}

input[type=submit]:hover{
    text-decoration: none;
    background: white;
    color: #4aaaa5;
    transition: 0.4s;
    cursor: pointer;
}

input[type=text], select, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    resize: vertical;
    text-align: left;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {

    #gridContainer{
        height: auto;
        min-height: 0;
        grid-template-rows: 5rem auto auto;
    }

    .topBar {
        flex-direction: column;
        height: 5rem;
    }

    #rightbtn,
    #leftbtn {
        display: none;
    }

    #quick{
        display: none;
    }

    #shortcuts{
        width: auto;
        margin: auto;
    }

    #shortcuts:hover {
        width: auto;
    }
    
    #shortcuts .button {
        padding: 1rem;
    }

    .main {
        margin: 1vw 1vw 0 1vw;
        width: 80vw;
        justify-self: center;
    }
}